- var pagina = pagina
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container-fluid
            a.navbar-brand(href='/user').ms-2
                i.bi.bi-person-circle.me-1
                | #{user.shortname} | #{pagina}
            if user.role === 'gang-leader'
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse.justify-content-end.me-3
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user') Inicio
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Formularios
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href='/user/forms/create/f-go-05') APCD - F-GO-05
                                li
                                    a.dropdown-item(href='/user/forms/create/f-sd-11') ATS - F-SD-11
                                li
                                    a.dropdown-item(href='/user/forms/create/f-ge-06') GFD - F-GE-06
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/registros') Registros
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/reportar') Reportar
                        li.nav-item
                            a.nav-link(aria-current='page' href='/logout') Cerrar Sesión
            else if user.role === 'supervisor'
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse.justify-content-end.me-3
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user') Inicio
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Formularios
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href='/user/forms/create/f-ge-06') GFD - F-GE-06
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/registros') Registros
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/reportar') Reportar
                        li.nav-item
                            a.nav-link(aria-current='page' href='/logout') Cerrar Sesión
            else if user.role === 'admin'
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavDropdown.collapse.navbar-collapse.justify-content-end.me-3
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user') Inicio
                        li.nav-item.dropdown
                            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Formularios
                            ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                                li
                                    a.dropdown-item(href='/user/forms/create/f-go-05') APCD - F-GO-05
                                li
                                    a.dropdown-item(href='/user/forms/create/f-sd-11') ATS - F-SD-11
                                li
                                    a.dropdown-item(href='/user/forms/create/f-ge-06') GFD - F-GE-06
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/registros') Registros Generales
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/registros') Registro Usuarios
                        li.nav-item
                            a.nav-link(aria-current='page' href='/user/reportar') Reportes
                        li.nav-item
                            a.nav-link(aria-current='page' href='/logout') Cerrar Sesión